.main {
  height: 100%;
  min-height: 100vh;
  overflow-y: auto;
  width: 100vw;
}

.logo_header {
  display: flex;
  justify-content: center;
  margin: 60px 0px;
}

.logo {
  color: var(--block-color);
  background-color: var(--title-color);
  border-radius: 50%;
  width: 40px;
  height: 40%;
}
